* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #047bd5;
  width: 100%;
  padding: 16px;
}

.navbar-content {
  display: flex;
  max-width: 60%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  position: relative;
  background-color: white;
  margin: 1rem;
  width: 250px;
  border-radius: 2px;
  overflow: hidden;
}

.product img {
  max-width: 250px;
  height: 300px;
  margin: 0 auto;
}

.brand {
  font-size: 0.8rem;
  color: grey;
}

.product-info {
  position: absolute;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  bottom: -18px;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  background-color: #fff;
  color: black;
  transform: translateY(20%);
  transition: transform 0.3s ease-in-out;
}

/* hover */
.product:hover .product-info {
  transform: translateY(0);
}

.filter {
  padding: 0.8rem;
  max-width: 100%;
  background-color: lightgrey;
}

.filter-content {
  display: flex;
}
